body {
  background-color: transparent!important;
}


.content {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(3, 2, 16) 61%, rgb(18, 18, 150) 85%, rgb(54, 158, 179) 96%);
}

.ytmusic-editable-playlist-detail-header-renderer {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(3, 2, 16) 41%, rgb(18, 18, 150) 80%, rgb(54, 158, 179) 98%);
}

.ytmusic-nav-bar {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(3, 2, 16, 0.434) 10%, rgba(18, 18, 150, 0.133) 93%, rgba(54, 158, 179, 0) 99%);
}

.history-icon-button  {
  opacity: 0%;
  display: hidden!important;
}

.right-content {
  height: 64px;
}

/*Home do Youtube */
.ytmusic-section-list-renderer {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(3, 2, 16, 0.164) 50%, rgba(18, 18, 150, 0.045) 93%, rgba(54, 158, 179, 0) 70%);
}

.content::after {
  width: 500px;
  height: 500px;
  background-color: rgb(3, 3, 3);
  position: absolute;
  z-index: 100;
}

